@charset "UTF-8";
/*paleta de cores
#32a99d verde escuro
#4ebfb6 verde
#69d4ce verde
#85eae7 azul
#a0ffff azul claro

*/

*{  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*contar a borda*/

}

body, html {
    background-image: linear-gradient(to right, #7fbebe ,#18DFF2);
    width: 100vw;
    height: 100vh;

}
main{
    position: relative;
    width: 100vw;
    height: 100vh;

}

div#formulario{
    margin: 50px auto;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    
    background: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.451);
    transform: translate(-50%, -50%);    
    transition: width .5s, heigth 5s;
    transition-timing-function: ease ;
        
    /* para centralizar a seção*/

}


section#login > div#imagem{ 
    background: #a0ffff url(cidade.jpg) no-repeat;       
    background-size: cover;
    background-position: left bottom; 
    height: 200px; 
}

section#login > div#formulario{
    display: block;
    padding: 10px;
    

}

section#login > div#formulario{
    text-align: center;
    
}
div > input{  

    outline: none;
    width: 150px;
    


}
label {
    
    width: 30px;
    display: inline-block;
     
        
    
}
form{
    margin: auto;
    padding: 10px 0px;
}

input#submit{
    display: block;
    margin:10px auto;
    width: 250px;
    height: 40px;
    text-align: center;
}

