@charset "UTF-8";

*{ 
    margin: 0px;
    padding: 0px;
}  

.btn{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(35, 81, 110);
    border-radius: 5px;
    color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(68, 139, 180), rgb(98, 199, 194),rgb(36, 109, 128));
}

header{ 
    text-align: center;
    padding: 50px; }

.nave{
    width: 97%;
    background-color: rgb(63, 105, 124);
    text-align: center;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    
}

nav > a{
    padding: 0px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav > a:hover{
    color: black;
    font-weight: bold;
    
}
body{  width: 600px; margin: 0px auto; text-align: justify; }
    
main{
    width: 100%;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.322);
    
}   
section{
    width: 500px;
    padding: 50px;    
}
section > h2 {
    
    text-align: center;
    padding: 20px;
    
    
} 
section > p {
    text-align: left;
    
    padding: 25px 0px;
} 
.quad{
    
    width: 150px;
    height: 150px;  
    border: solid .5px black;
    background-image: linear-gradient(to right, rgb(180, 163, 68), rgb(143, 199, 98),rgb(36, 128, 71));
    
    
    
    
    
/* alinha o último item a esquerda */
    
}

    
