@charset "UTF-8";

*{  margin: 0px; padding: 0px;}   

body{font-family: Arial, Helvetica, sans-serif; background-image: linear-gradient(to right, rgb(68, 139, 180), rgb(98, 199, 194),rgb(36, 109, 128));}

header{ text-align: center;}
   
body{  width: 600px; margin: 0px auto; text-align: justify; }
    
main{
    
}       
    
